.special
	color blue
	font-size 23px

.site
	background #30d432
	width 100px
	padding 10px
	&:hover
		background green
		cursor pointer

body
	background rgba(5,197,230,0.64)

.container 
	.jumbotron
		h1
			color green

.addProd
	width 1200px !important	

